<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Inflectra.RemoteLaunch.Engines.JMeter2AutomationEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SampleAutomationEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Inflectra.RemoteLaunch.Engines.JMeter2AutomationEngine.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>C:\Program Files\jakarta-jmeter-2.5\bin</value>
            </setting>
            <setting name="TraceLogging" serializeAs="String">
                <value>False</value>
            </setting>
        </Inflectra.RemoteLaunch.Engines.JMeter2AutomationEngine.Properties.Settings>
        <SampleAutomationEngine.Properties.Settings>
            <setting name="Setting1" serializeAs="String">
                <value>Value1</value>
            </setting>
            <setting name="TraceLogging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting2" serializeAs="String">
                <value>Value2</value>
            </setting>
        </SampleAutomationEngine.Properties.Settings>
    </userSettings>
</configuration>